<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ciudad</title>
</head>
<body>
	<div th:fragment="content">
		<div class="row">
			<div class="col-lg-5 col-md-6">
				<div 
					th:include="abm/ciudad/modal_form :: content(vc=${controlador})">form</div>
			</div>
			<div class="col-lg-7 col-md-6">
				<div
					th:include="abm/lista_modal::content(name='ciudad_modal',serverSide='false', source=@{/abm/ciudad/rest}, editUrl=@{/abm/ciudad/modal/}, vc=${controlador}, title=#{ciudad.tabla.titulo})">lista</div>
			</div>

		</div>
	</div>
</body>

</html>
