<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>SgfConfig</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="shortcut icon" href="../../../images/favicon.ico"
	type="image/x-icon" />

<link href="../../../css/bootstrap.min.css" rel="stylesheet" />
<link href="../../../css/sb-admin-2.css" rel="stylesheet" />
<link href="../../../css/jquery-ui.css" rel="stylesheet" />
<link href="../../../font-awesome-4.2.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="../../../css/htroot.css" />

<!-- Bootstrap Core JavaScript -->
<script src="../../../js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../../../js/sb-admin-2.js"></script>
<script src="../../../js/jquery-ui.js"></script>

</head>

<body>
	<div class="col-lg-12 col-lm-12">
		<div th:fragment="content">

			<h4 class="page-header" th:text="#{sgfConfig.form.titulo}">SgfConfig</h4>
			<div th:replace="fragments/notificaciones :: content">notificiones</div>

			<form id="sgfConfigForm" action="#" th:action="@{/abm/sgf_config/op}"
				th:object="${sgfConfig}" method="post" role="form">

				<div th:replace="fragments/form_errores :: content">errores</div>

				<input type="hidden" th:field="*{id}" />

				<div class="form-group required col-lg-4 col-md-4">
					<label for="iva" th:text="#{sgfConfig.iva.lbl}"
						class="field-label">IVA:</label> <input type="number"
						th:field="*{iva}" class="form-control" maxlength="3" autofocus="autofocus"/>
				</div>
				
				<div class="form-group required col-lg-4 col-md-4">
					<label for="gananciaPorcentaje" th:text="#{sgfConfig.gananciaPorcentaje.lbl}"
						class="field-label">gananciaPorcentaje:</label> <input type="number"
						th:field="*{gananciaPorcentaje}" class="form-control"/>
				</div>
				
				<div class="form-group required col-lg-4 col-md-4">
					<label for="mailHost" th:text="#{sgfConfig.mailHost.lbl}"
						class="field-label">mailHost:</label> <input type="text"
						th:field="*{mailHost}" class="form-control"/>
				</div>
				
				<div class="form-group required col-lg-4 col-md-4">
					<label for="mailRemitente" th:text="#{sgfConfig.mailRemitente.lbl}"
						class="field-label">remitente:</label> <input type="email"
						th:field="*{mailRemitente}" class="form-control"/>
				</div>
				
				<div class="form-group required col-lg-4 col-md-4">
					<label for="mailPass" th:text="#{sgfConfig.mailPass.lbl}"
						class="field-label">mailPass:</label> <input type="password"
						th:field="*{mailPass}" class="form-control"/>
				</div>
				
				<div class="form-group required col-lg-4 col-md-4">
					<label for="seguroAsunto" th:text="#{sgfConfig.seguroAsunto.lbl}"
						class="field-label">asunto:</label> <input type="text"
						th:field="*{seguroAsunto}" class="form-control"/>
				</div>
				
				<div class="form-group required col-lg-4 col-md-4">
					<label for="seguroMensaje" th:text="#{sgfConfig.seguroMensaje.lbl}"
						class="field-label">seguroMensaje:</label> 
						<textarea rows="4" style="width: 100%" form="sgfConfigForm"
						th:field="*{seguroMensaje}" th:errorclass="invalid" 
						class="form-control"></textarea>
				</div>
				
				<div class="form-group required col-lg-4 col-md-4">
					<label for="appHost" th:text="#{sgfConfig.appHost.lbl}"
						class="field-label">appHost:</label> <input type="text"
						th:field="*{appHost}" class="form-control"/>
				</div>
				
				<div class="form-group required col-lg-4 col-md-4">
					<label for="resetPassTimeWait" th:text="#{sgfConfig.resetPassTimeWait.lbl}"
						class="field-label">resetPassTimeWait:</label> <input type="number"
						th:field="*{resetPassTimeWait}" class="form-control"/>
				</div>
               <br></br>
               <br></br>
               <br></br>
               <br></br>
                <script>
				var map;

				var marker = new google.maps.Marker({
    				position: null,
    				map: map,
 				});

				var latitud = 0;
				var longitud = 0;

				$(document).ready(function(){
					latitud = $('#latitudBase').val();
					longitud = $('#longitudBase').val();
					if(new String(latitud).length == 0){
						latitud = -25.282875876175524;
						longitud = -57.634926438331604;
					}
					initialize;
				});

				var myCenter=new google.maps.LatLng(latitud, longitud);
				function initialize()
				{
					myCenter=new google.maps.LatLng(latitud, longitud);
					var mapProp = {
  					center:myCenter,
  					zoom:12,
 					mapTypeId:google.maps.MapTypeId.ROADMAP
  				};

 				map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

  				marker.setPosition(myCenter);
  				marker.setMap(map);
  				google.maps.event.addListener(map, 'click', function(event) {
	  				placeMarker(event.latLng);
  					});
				}

				function placeMarker(location) {
  					marker.setPosition(location);
  					$('#longitudBase').val(location.lng());
  					$('#latitudBase').val(location.lat());
				}

				google.maps.event.addDomListener(window, 'load', initialize);
				</script>

				<div id="googleMap" style="width: 100%; height: 380px;"></div>

				<div class="form-group">
					<label for="latitudBase" th:text="#{sgfConfig.latitudBase.lbl}"
						class="field-label">latitudBase:</label> <input type="text"
						th:field="*{latitudBase}" class="form-control" />
				</div>

				<div class="form-group">
					<label for="longitudBase" th:text="#{sgfConfig.longitudBase.lbl}"
						class="field-label">longitudBase:</label> <input type="text"
						th:field="*{longitudBase}" class="form-control" />
				</div>
                        
				<div th:replace="abm/formulario_botones :: content">botones</div>
			</form>
		</div>
	</div>
</body>
</html>