<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="page">

<body>
	<div th:replace="fragments/includes :: css">CSS</div>


	<div th:class="${panelClass}">
		<div class="panel-heading">
			<div class="row">
				<div class="col-xs-3">
					<i class="fa fa-minus-circle fa-5x" th:class="${iconClass}"></i>
				</div>
				<div class="col-xs-9 text-right" th:include="this :: panelHeader">
					<div class="huge">3</div>
					<div>Intentos fallidos de acceso</div>
				</div>
			</div>
		</div>

		<div th:include="this :: panelBody">CONTENIDO</div>

		<a th:href="@{${footerUrl}}" th:unless="${!includeFooter}">
			<div class="panel-footer">
				<span class="pull-left" th:text="${footerText}"></span> <span
					class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
				<div class="clearfix"></div>
			</div>
		</a>
	</div>
</body>

</html>

