<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pedido</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="shortcut icon" href="../../../images/favicon.ico"
	type="image/x-icon" />

<link href="../../../css/bootstrap.min.css" rel="stylesheet" />
<link href="../../../css/sb-admin-2.css" rel="stylesheet" />
<link href="../../../css/jquery-ui.css" rel="stylesheet" />
<link href="../../../font-awesome-4.2.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="../../../css/htroot.css" />
<script src="../../../js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../../js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../../../js/sb-admin-2.js"></script>
<script src="../../../js/jquery-ui.js"></script>

</head>

<body>
	<div class="col-lg-12 col-lm-12">
		<div th:fragment="content">

			<h4 class="page-header" th:text="#{pedido.form.titulo}">Pedido</h4>
			<div th:replace="fragments/notificaciones :: content">notificiones</div>

			<form action="#" th:action="@{/abm/pedido/op}"
				th:object="${pedido}" method="post" role="form" onsubmit="setOrigenDestino()">

				<div th:replace="fragments/form_errores :: content">errores</div>

				<input type="hidden" th:field="*{id}" />

				<input th:if="${pedido.cliente != null}" type="hidden" id="cliente" name="cliente" th:value="${pedido.cliente.id}"/>
				<input th:if="${pedido.cliente == null}" type="hidden" id="cliente" name="cliente"/>
				
				<input disabled="disabled" type="hidden" id="barrio"/>
				
				<input disabled="disabled" type="hidden" id="ciudad"/>
				
				<input th:if="${pedido.camion != null}" type="hidden" id="camion" name="camion" th:value="${pedido.camion.id}"/>
				<input th:if="${pedido.camion == null}" type="hidden" id="camion" name="camion"/>
				
				<input th:if="${pedido.barrioOrigen != null}" type="hidden" id="barrioOrigen" name="barrioOrigen" th:value="${pedido.barrioOrigen.id}"/>
				<input th:if="${pedido.barrioOrigen == null}" type="hidden" id="barrioOrigen" name="barrioOrigen"/>
				
				<input th:if="${pedido.ciudadOrigen != null}" type="hidden" id="ciudadOrigen" name="ciudadOrigen" th:value="${pedido.ciudadOrigen.id}"/>
				<input th:if="${pedido.ciudadOrigen == null}" type="hidden" id="ciudadOrigen" name="ciudadOrigen"/>
				
				<input th:if="${pedido.barrioDestino != null}" type="hidden" id="barrioDestino" name="barrioDestino" th:value="${pedido.barrioDestino.id}"/>
				<input th:if="${pedido.barrioDestino == null}" type="hidden" id="barrioDestino" name="barrioDestino"/>
				
				<input th:if="${pedido.ciudadDestino != null}" type="hidden" id="ciudadDestino" name="ciudadDestino" th:value="${pedido.ciudadDestino.id}"/>
				<input th:if="${pedido.ciudadDestino == null}" type="hidden" id="ciudadDestino" name="ciudadDestino"/>
				
				<input type="hidden" th:field="*{origen.latitud}"/>
				<input type="hidden" th:field="*{origen.longitud}"/>
				<input type="hidden" th:field="*{destino.latitud}"/>
				<input type="hidden" th:field="*{destino.longitud}"/>
				
				<!-- <input type="hidden" th:field="*{camion.id}"/>
				<input type="hidden" th:field="*{ciudad.id}"/>
				<input type="hidden" th:field="*{barrio.id}"/>
				<input type="hidden" th:field="*{cliente.id}"/>  -->
				
				<input type="hidden" id="distancia" name="distancia" th:value="${pedido.distancia}"/>
				
				<div class="form-group required">
					<label for="clienteToShow" th:text="#{pedido.cliente.lbl}"
						class="field-label">Cliente:</label> 
						<input type="text" th:if="${pedido.cliente == null}"
						id="clienteToShow" disabled="disabled" class="form-control"/>
						<input type="text" th:if="${pedido.cliente != null}"
						id="clienteToShow" disabled="disabled" class="form-control"
						th:value="${pedido.cliente.usuario.nombre+' '+pedido.cliente.usuario.apellido}"
						/>
				</div>
				<button class="btn btn-default" data-toggle="modal"
					data-target='#largeModal' onclick="clienteModal()" type="button">
					Elegir Cliente
				</button>

				<div class="form-group required">
					<label for="direccion" th:text="#{pedido.direccion.lbl}"
						class="field-label">Direccion:</label> <input type="text"
						th:field="*{direccion}" class="form-control" maxlength="100"/>
				</div>
				
				<div class="form-group required">
					<label for="barrioOrigenToShow" th:text="#{pedido.barrio_origen.lbl}"
						class="field-label">BarrioOrigen:</label> 
						<input type="text" th:if="${pedido.barrioOrigen == null}"
						id="barrioOrigenToShow" disabled="disabled" class="form-control"/>
						<input type="text" th:if="${pedido.barrioOrigen != null}"
						id="barrioOrigenToShow" disabled="disabled" class="form-control"
						th:value="${pedido.barrioOrigen.nombre}"
						/>
				</div>
				<button class="btn btn-default" data-toggle="modal"
					data-target='#largeModal' onclick="barrioModal('barrioOrigenToShow', 'ciudadOrigenToShow', 'barrioOrigen')" type="button">
					Elegir Barrio Origen
				</button>
				
				
				<div class="form-group required">
					<label for="ciudadOrigenToShow" th:text="#{pedido.ciudad_origen.lbl}"
						class="field-label">CiudadOrigen:</label> 
						<input type="text" th:if="${pedido.ciudadOrigen == null}"
						id="ciudadOrigenToShow" disabled="disabled" class="form-control"/>
						<input type="text" th:if="${pedido.ciudadOrigen != null}"
						id="ciudadOrigenToShow" disabled="disabled" class="form-control"
						th:value="${pedido.ciudadOrigen.nombre}"
						/>
				</div>
				<button class="btn btn-default" data-toggle="modal"
					data-target='#largeModal' onclick="ciudadModal('ciudadOrigenToShow', 'barrioOrigenToShow', 'ciudadOrigen')" type="button">
					Elegir Ciudad Origen
				</button>
				
				<!-- ahora destino XD -->
				
				<div class="form-group required">
					<label for="barrioDestinoToShow" th:text="#{pedido.barrio_destino.lbl}"
						class="field-label">Barrio Destino:</label> 
						<input type="text" th:if="${pedido.barrioDestino == null}"
						id="barrioDestinoToShow" disabled="disabled" class="form-control"/>
						<input type="text" th:if="${pedido.barrioDestino != null}"
						id="barrioDestinoToShow" disabled="disabled" class="form-control"
						th:value="${pedido.barrioDestino.nombre}"
						/>
				</div>
				<button class="btn btn-default" data-toggle="modal"
					data-target='#largeModal' onclick="barrioModal('barrioDestinoToShow', 'ciudadDestinoToShow', 'barrioDestino')" type="button">
					Elegir Barrio Destino
				</button>
				
				
				<div class="form-group required">
					<label for="ciudadDestinoToShow" th:text="#{pedido.ciudad_destino.lbl}"
						class="field-label">Ciudad Destino:</label> 
						<input type="text" th:if="${pedido.ciudadDestino == null}"
						id="ciudadDestinoToShow" disabled="disabled" class="form-control"/>
						<input type="text" th:if="${pedido.ciudadDestino != null}"
						id="ciudadDestinoToShow" disabled="disabled" class="form-control"
						th:value="${pedido.ciudadDestino.nombre}"
						/>
				</div>
				<button class="btn btn-default" data-toggle="modal"
					data-target='#largeModal' onclick="ciudadModal('ciudadDestinoToShow', 'barrioDestinoToShow', 'ciudadDestino')" type="button">
					Elegir Ciudad Destino
				</button>
				
				<div class="form-group required">
					<label for="camionToShow" th:text="#{pedido.camion.lbl}"
						class="field-label">Camion:</label> 
						<input type="text" th:if="${pedido.camion == null}"
						id="camionToShow" disabled="disabled" class="form-control"/>
						<input type="text" th:if="${pedido.camion != null}"
						id="camionToShow" disabled="disabled" class="form-control"
						th:value="${pedido.camion.marca+' '+pedido.camion.modelo+' '+pedido.camion.anio+' '+pedido.camion.chapa}"
						/>
				</div>
				<button class="btn btn-default" data-toggle="modal"
					data-target='#largeModal' onclick="camionModal()" type="button">
					Elegir camion
				</button>
				
				<div class="form-group">
					<label for="fechaPedido"> <span
						th:text="#{pedido.fechaPedido.lbl}">Fecha pedido</span>
					</label> <input type="text" th:field="*{fechaPedido}"
						 th:errorclass="fieldError"
						class="form-control" />
					<div
						th:include="fragments/includes :: campo_fecha( campoId='fechaPedido')"></div>
				</div>
				
				<div class="form-group" th:if="${pedido.id != null}">
					<label for="fechaEntrega"> <span
						th:text="#{pedido.fechaEntrega.lbl}">Fecha entrega</span>
					</label> <input type="text" th:field="*{fechaEntrega}"
						 th:errorclass="fieldError"
						class="form-control" />
					<div
						th:include="fragments/includes :: campo_fecha( campoId='fechaEntrega')"></div>
				</div>
				
				<div class="form-group required">
					<label for="iva" th:text="#{pedido.iva.lbl}" class="field-label">Iva:</label> 
					<input type="number" th:field="*{iva}"
						 th:errorclass="fieldError"
						class="form-control" />
				</div>
								
				<div class="form-group required">
					<label for="distancia" th:text="#{pedido.distancia.lbl}" class="field-label">Distancia:</label> 
					<input type="text" id="distanciaToShow" th:value="${pedido.distancia}"
						class="form-control" disabled="disabled"/>
					<button class="btn btn-default" data-toggle="modal"
						data-target='#largeModal' onclick="escogerRutaModal()" type="button">
						Escoger Ruta
					</button>
				</div>
				
				<div class="form-group required" th:unless="${pedido.id == null}">
					<label for="costo" th:text="#{pedido.costo.lbl}" class="field-label">Costo:</label> 
					<div th:remove="tag"
								th:include="fragments/includes :: format_number_input(inputId='costo', 
							inputVal=${pedido.costo})">Costo</div>
				</div>
				
				<div class="form-group required" th:unless="${pedido.id == null}">
					<label for="precio" th:text="#{pedido.precio.lbl}" class="field-label">Precio:</label> 
					<div th:remove="tag"
								th:include="fragments/includes :: format_number_input(inputId='precio', 
							inputVal=${pedido.precio})">Precio</div>
				</div>
				
				<div th:replace="abm/formulario_botones :: content">botones</div>
			</form>
			<script type="text/javascript">
			function clienteModal() {
				$.ajax({
					url : "/sgf/abm/cliente/modal",
					success : function(datos) {
						$("#largeModalContent").html(datos)
					}
				});
			}
			function barrioModal(PbarrioToShowId, PciudadToShowId, PbarrioId) {
				barrioToShowId=PbarrioToShowId;
				barrioId=PbarrioId;
				ciudadToShowId= PciudadToShowId;
				$.ajax({
					url : "/sgf/abm/barrio/modal",
					success : function(datos) {
						$("#largeModalContent").html(datos)
					}
				});
			}
			function ciudadModal(PciudadToShowId, PbarrioToShowId, PciudadId) {
				ciudadToShowId= PciudadToShowId;
				barrioToShowId= PbarrioToShowId;
				ciudadId = PciudadId;
				$.ajax({
					url : "/sgf/abm/ciudad/modal",
					success : function(datos) {
						$("#largeModalContent").html(datos)
					}
				});
			}
			function camionModal() {
				$.ajax({
					url : "/sgf/abm/camion/modal",
					success : function(datos) {
						$("#largeModalContent").html(datos)
					}
				});
			}
			function setOrigenDestino(){
				$("#origen\\.latitud").val(startLocation.lat);
				$("#origen\\.longitud").val(startLocation.lng);
				$("#destino\\.latitud").val(endLocation.lat);
				$("#destino\\.longitud").val(endLocation.lng);
			}

			var ciudadToShowId;
			var barrioToShowId;
			var ciudadId;
			var barrioId;
			
			var onElegirCiudadCallback = function(idSelected){
				var nombre = $('#ajaxForm').find('#nombre').val();
				document.getElementById(ciudadToShowId).value = nombre;
				document.getElementById(barrioToShowId).value = '';
				document.getElementById(ciudadId).value = idSelected;
			}
			var onElegirBarrioCallback = function(idSelected){
				var nombre = $('#ajaxForm').find('#nombre').val();
				document.getElementById(barrioToShowId).value = nombre;
				document.getElementById(barrioId).value = idSelected;
				$('#ajaxForm').remove();
				document.getElementById(ciudadToShowId).value = suggestBoxMap['barrioCiudad'].getSelection()[0].nombre;
			}
			</script>
		</div>
	</div>
</body>
</html>