<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>SGF</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="shortcut icon" href="/images/favicon.ico"
	th:href="@{/images/favicon.ico}" type="image/x-icon" />

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="shortcut icon" href="../images/favicon.ico"
	th:href="@{/images/favicon.ico}" type="image/x-icon" />

<link href="../css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />

<link href="../css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}"
	rel="stylesheet" />

<link href="../css/jquery-ui.css" th:href="@{/css/jquery-ui.css}"
	rel="stylesheet" />

<link href="../font-awesome-4.2.0/css/font-awesome.min.css"
	th:href="@{/font-awesome-4.2.0/css/font-awesome.min.css}"
	rel="stylesheet" />

<link href="../css/htroot.css" th:href="@{/css/htroot.css}"
	rel="stylesheet" />

<link href="../css/jquery-ui.css" th:href="@{/css/jquery-ui.css}"
	rel="stylesheet" />

<link href="../css/plugins/dataTables.bootstrap.css" th:href="@{/css/plugins/dataTables.bootstrap.css}"
	rel="stylesheet" />
	
	
	
<script src="../js/jquery-1.11.0.js" th:src="@{/js/jquery-1.11.0.js}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<!-- Custom Theme JavaScript -->
<script src="../js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>
<script src="../js/jquery-ui.js" th:src="@{/js/jquery-ui.js}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script th:src="@{/js/plugins/metisMenu/metisMenu.min.js}"></script>

<!-- DataTables JavaScript -->
<script src="../js/plugins/dataTables/jquery.dataTables.js"
	th:src="@{/js/plugins/dataTables/jquery.dataTables.js}"></script>
<script src="../js/plugins/dataTables/dataTables.bootstrap.js"
	th:src="@{/js/plugins/dataTables/dataTables.bootstrap.js}"></script>
<script src="../js/htroot.js" th:src="@{/js/htroot.js}"></script>
<script src="../js/magicsuggest.js" th:src="@{/js/magicsuggest.js}"></script>
<script src="../js/fnSetFilteringDelay.js" th:src="@{/js/fnSetFilteringDelay.js}"></script>
<link href="../css/magicsuggest.css"
	th:href="@{/css/magicsuggest.css}" rel="stylesheet" />
</head>

<body>
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a th:href="@{/}"> <img src="../../images/app_logo.png"
					alt="App Title" title="App Title" th:src="@{/images/app_logo.png}"
					th:alt-title="#{title.application}" />
				</a>
				<!-- a class="navbar-brand" href="/rwd">SB Admin v2.0</a-->
			</div>
			
			<!-- /.navbar-header -->
			</nav>
			<!--div th:replace="fragments/navbar_header2 :: content"></div-->
		<div id="page-wrapper">
		<div class="col-lg-4 col-md-8">
		<h4 class="page-header" th:text="#{resetpass.form.titulo}">Reestablecer Contraseña</h4>
			<div id="notif"></div>		
			<div class="form-group required">
				<label th:for="resetpass.usuario.newpass" th:text="#{resetpass.usuario.newpass.lbl}">Nueva Contraseña</label>
				<input type="password" class="form-control" id="newpass" autofocus="autofocus" th:disabled="${response.success==false}"/>
			</div>
			<div class="form-group required">
				<label th:for="resetpass.usuario.confirmpass" th:text="#{resetpass.usuario.confirmpass.lbl}">Vuelva a escribir su contraseña</label>
				<input class="form-control" id="confirmpass" type="password" autofocus="autofocus" th:disabled="${response.success==false}"/>
			</div>
			<button type="button" th:disabled="${response.success==false}" class="btn btn-default" id="reset_btn"
				th:text="#{resetpass.aceptar_btn}">Aceptar</button>
			<script th:inline="javascript">
				/*<![CDATA[*/
				$(document).ready(function() {
					var success = [[${response.success}]]
					if (success==false){
						$('#notif').html('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button>'+[[${response.getMessage()}]]+'</div>');
					}
				});
				
				$('#reset_btn').on("click", function(){
				$.ajax({
					url: [[@{/confirm_pass?newPass=}]]+$('#newpass').val()+'&confirmPass='+$('#confirmpass').val()+'&token='+[[${token}]],
					context: document.body,
					success : function(respuesta) {
						if(respuesta.success){
							$('#notif').html('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button>'+respuesta.message+'</div>');
						}else{
							$('#notif').html('<div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert">&times;</button>'+respuesta.message+'</div>');
						}
					}
			    });
				});
				/*]]>*/
			</script>
		</div>
		</div>
</body>
</html>