<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Picker</title>
</head>

<body>
			<button class="btn btn-default" data-toggle="modal"
				data-target="#rolesPopup" type="button">
				<img src="../../../icons/16/plus.png" th:src="@{/icons/16/plus.png}"
					class="nuevo-btn" /> <span th:text="#{form.usuario.pick_roles}"></span>
			</button>
			<!-- Modal -->
			<div class="modal fade" id="rolesPopup" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" id="rol_picker_btn" class="close"
								data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel"
								th:text="#{usuario.roles.picker.titulo} + ' '+${usuario.nombre + ' ' + usuario.apellido + ' (' +usuario.codigo+')'}">Título del Picker</h4>
						</div>
						<div class="modal-body">
							<div
								th:include="abm/usuario/rol_picker_table">lista</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default"
								data-dismiss="modal" id="roles_picker_btn"
								th:text="#{popup.usuario.actualizar_roles.submit_btn}"
								onclick="javascript:actualizarRoles()">Cerrar</button>

						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>

</body>

</html>

