<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Footer</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="shortcut icon" href="../../images/favicon.ico"
	type="image/x-icon" />

<link href="../../css/bootstrap.min.css" rel="stylesheet" />
<link href="../../css/sb-admin-2.css" rel="stylesheet" />
<link href="../../css/jquery-ui.css" rel="stylesheet" />
<link href="../../font-awesome-4.2.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="../../css/htroot.css" />
<script src="../../js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../../js/sb-admin-2.js"></script>
<script src="../../js/jquery-ui.js"></script>
</head>
<body>
	<footer th:fragment="footer" class="text-center">
		<hr></hr>
		&copy; 2016 [SGF] Sistema de gestión de la flota..
	</footer>
</body>
</html>
