<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Menu</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="shortcut icon" href="../../images/favicon.ico"
	type="image/x-icon" />

<link href="../../css/bootstrap.min.css" rel="stylesheet" />
<link href="../../css/sb-admin-2.css" rel="stylesheet" />
<link href="../../css/jquery-ui.css" rel="stylesheet" />
<link href="../../font-awesome-4.2.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="../../css/htroot.css" />
<script src="../../js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../../js/sb-admin-2.js"></script>
<script src="../../js/jquery-ui.js"></script>
</head>
<body>
	<!-- Navigation -->
	<nav th:fragment="menu" class="navbar navbar-inverse navbar-static-top"
		role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand nav" th:href="@{/inicio}">Inicio</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<!-- menu desplegable 1 -->
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="/sgf/abm/cargador/">Cargador <i
							class="fa fa-caret-down"></i></a>
						<ul class="dropdown-menu dropdown-user ">
							<li><a th:href="@{/abm/cargador/}">
									Nueva Carga</a></li>
							<li class="divider"></li>
							<li><a th:href="@{/abm/cargador/render}">Renderizar ultimo</a></li>
						</ul></li>
					<!-- fin menu desplegable 1 -->
					
					<!-- menu desplegable 2 Datos Generales-->
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Datos Generales <i
							class="fa fa-caret-down"></i></a>
						<ul class="dropdown-menu dropdown-user ">
							<li><a th:href="@{/abm/ciudad}">
									Ciudad</a></li>
							<li class="divider"></li>
							<li><a th:href="@{/abm/barrio}">
									Barrio</a></li>
							<li class="divider"></li>
							<li><a th:href="@{/abm/seguro}">
									Seguro</a></li>
							<li class="divider"></li>
							<li><a th:href="@{/abm/camion}">
									Camion</a></li>
							<li class="divider"></li>
							<li><a th:href="@{/abm/insumo}">
									Insumo</a></li>
						</ul></li>
					<!-- fin menu desplegable 2 -->
					
					<!-- menu desplegable 3 Personas -->
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Personas <i
							class="fa fa-caret-down"></i></a>
						<ul class="dropdown-menu dropdown-user ">
							<li><a th:href="@{/abm/usuario}">
									Usuarios</a></li>
							<li class="divider"></li>
							<li><a th:href="@{/abm/cliente}">
									Clientes</a></li>
							<li class="divider"></li>
							<li><a th:href="@{/abm/chofer}">
									Chofer</a></li>
						</ul></li>
					<!-- fin menu desplegable 3 -->
					
					<!-- menu desplegable 4 Localizador -->
					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#">Localizador <i
							class="fa fa-caret-down"></i></a>
						<ul class="dropdown-menu dropdown-user ">
							<li><a th:href="@{/localizador/registro}">
									Registro</a></li>
							<li class="divider"></li>
						</ul></li>
					<!-- fin menu desplegable 3 -->
					
					<!-- /.dropdown -->
				</ul>
				<ul class="nav navbar-nav navbar-right">

					<li class="dropdown"><a class="dropdown-toggle"
						data-toggle="dropdown" href="#"> <i class="fa fa-user fa-fw"></i>
							<i class="fa fa-caret-down"></i>
					</a>
						<ul class="dropdown-menu dropdown-user ">


							<li th:if="${usuarioActual != null}"><a href="#"><i
									class="fa fa-user fa-fw"></i><span
									th:text="${usuarioActual.nombre + ' '+ usuarioActual.apellido}"></span></a></li>
							<li th:if="${usuarioActual == null}"><a href="#"><i
									class="fa fa-user fa-fw"></i><span>No autenticado</span></a></li>
							<li>
								<div class="row text-center">
									<a th:href="@{/}"> <img src="../../images/user.png"
										alt="aperalta" title="User" th:src="@{/images/user.png}"
										th:alt-title="#{title.application}" />
									</a>
								</div>

							</li>
							<li><a href="#" th:href="@{/perfil}"><i class="fa fa-user fa-fw"></i>
									Perfil</a></li>
							<li class="divider"></li>
							<li><a href="javascript:logout()"><i
									class="fa fa-sign-out fa-fw"></i> Logout</a></li>
						</ul> <!-- /.dropdown-user --></li>
				</ul>

				<form action="#" th:action="@{/logout}" method="POST" id="logout">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" />
				</form>

				<script>
	       			function logout() {
		       			$("#logout").submit();
	        		}
      			 </script>

			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>
</body>
</html>
