<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Navigation</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="shortcut icon" href="../../images/favicon.ico"
	type="image/x-icon" />

<link href="../../css/bootstrap.min.css" rel="stylesheet" />
<link href="../../css/sb-admin-2.css" rel="stylesheet" />
<link href="../../css/jquery-ui.css" rel="stylesheet" />
<link href="../../font-awesome-4.2.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="../../css/htroot.css" />
<script src="../../js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../../js/sb-admin-2.js"></script>
<script src="../../js/jquery-ui.js"></script>
</head>
<body>
	<div th:fragment="nav">
		<nav class="navbar navbar-default navbar-static-top" role="navigation"
			style="margin-bottom: 0">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a th:href="@{/}"> <img src="../../images/app_logo.png"
					alt="App Title" title="App Title" th:src="@{/images/app_logo.png}"
					th:alt-title="#{title.application}" />
				</a>
				<!-- a class="navbar-brand" href="/rwd">SB Admin v2.0</a-->
			</div>
			
			<!-- /.navbar-header -->

			<div th:replace="fragments/navbar_header :: content"></div>

			<!-- /.navbar-top-links -->
			
			<div th:replace="fragments/menu :: content">
				<div class="navbar-default sidebar" role="navigation">
					<div class="sidebar-nav navbar-collapse">
						<ul class="nav" id="side-menu">
							<li class="active"><a href="#"><img
									src="../../icons/24/main_menu.png"
									th:src="@{/icons/24/main_menu.png}" /> <span
									th:text="#{menu.principal}"></span><span class="fa arrow"></span></a>
								<ul class="nav nav-second-level">

									<li sec:authorize="hasRole('MotivoConsulta_sel')"><a
										th:href="@{/abm/motivo_consulta}"><img
											src="../../icons/24/database.png"
											th:src="@{/icons/24/database.png}" /><span
											class="menu-caption" th:text="#{menu.gestores}">Usuarios</span></a></li>


									<li sec:authorize="hasRole('MotivoConsulta_sel')"><a
										th:href="@{/abm/motivo_consulta}"><img
											src="../../icons/24/run.png" th:src="@{/icons/24/run.png}" /><span
											class="menu-caption" th:text="#{menu.sistemas}">Sistemas</span></a></li>


									<li sec:authorize="hasRole('usuario_sel')"><a
										th:href="@{/abm/usuario}"><img
											src="../../icons/24/users.png"
											th:src="@{/icons/24/users.png}" /><span class="menu-caption"
											th:text="#{menu.usuarios}">Usuarios</span></a></li>



									<li sec:authorize="hasRole('MotivoConsulta_sel')"><a
										th:href="@{/abm/motivo_consulta}"><img
											src="../../icons/24/session.png"
											th:src="@{/icons/24/session.png}" /><span
											class="menu-caption" th:text="#{menu.sesiones}">Sesiones</span></a></li>

								</ul> <!-- /.nav-second-level --></li>
						</ul>
					</div>
			
				</div>
			
			</div>
		</nav>

	</div>
</body>
</html>


