<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:include="main :: page">
<head>
<title>Cargador</title>
</head>

<body>
	<div th:fragment="content">
		<div id="pantalla" style="height: 500px; width: 1050px" class="container">
			<script>
		
		$(document).ready(function(){
			$.ajax({
				   url : "/sgf/abm/cargador/rest",
				   success : function(data) {
				    	init(data);
				    	animate();
				   }
				  });
			});
		</script>
		</div>
	</div>
</body>
</html>
