<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Formulario::Botones</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="shortcut icon" href="../../images/favicon.ico"
	type="image/x-icon" />

<link href="../../css/bootstrap.min.css" rel="stylesheet" />
<link href="../../css/sb-admin-2.css" rel="stylesheet" />
<link href="../../css/jquery-ui.css" rel="stylesheet" />
<link href="../../font-awesome-4.2.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="../../css/htroot.css" />
<script src="../../js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../../js/sb-admin-2.js"></script>
<script src="../../js/jquery-ui.js"></script>
</head>
<body>
	<div th:fragment="content">
		<div class="form-inline">
			<p>
				<button onclick="ajaxSubmit('crear')" class="btn btn-default"
					 th:unless="${vc.botonCrearHabilitado==false}">
					<img src="../../icons/16/plus.png" th:src="@{/icons/16/plus.png}"
						class="nuevo-btn" /><span th:text="#{form.boton.crear}">Nuevo</span>
				</button>

				<button onclick="ajaxSubmit('guardar')" class="btn btn-default" 
					th:unless="${vc.botonGuardarHabilitado==false}">
					<img src="../../icons/16/ok.png" th:src="@{/icons/16/ok.png}"
						class="guardar-btn" /><span th:text="#{form.boton.guardar}">Guardar</span>
				</button>

				<button onclick="ajaxSubmit('cancelar')" class="btn btn-default"
					 th:unless="${vc.botonCancelarHabilitado==false}">
					<img src="../../icons/16/cancel.png"
						th:src="@{/icons/16/cancel.png}" class="cancelar-btn" /><span
						th:text="#{form.boton.cancelar}">Cancelar</span>
				</button>

				<button class="btn btn-default" th:onclick="'confirmarBorrar('+'\''+#{popup.borrado.aceptar}+'\''+','+'\''+#{popup.borrado.cancelar}+'\''+')'" type="button"
					th:unless="${vc.botonBorrarHabilitado==false}">
					<img src="../../icons/16/delete.png"
						th:src="@{/icons/16/delete.png}" class="borrar-btn" /><span
						th:text="#{form.boton.borrar}">Borrar</span>
				</button>
				
				<button id="botonElegir" th:onclick="'modalElegir(\''+${vc.getNombreObjeto()}+'\','+${onElegir}+')'" type="button" class="btn btn-default"
					 th:unless="${vc.botonElegirHabilitado==false}">
					<img src="../../icons/16/save.png"
						th:src="@{/icons/16/save.png}" class="cancelar-btn" /><span
						th:text="#{form.boton.elegir}">Cancelar</span>
				</button>

				<button onclick="ajaxSubmit('borrar')"
					th:id="${vc.getNombreObjeto() + '_borrar_btn'}"
					 hidden="true" ></button>
			</p>

			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
		</div>
		<div id="dialog-confirm" th:title="#{popup.borrado.titulo}" style="display: none;">
			<p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><i th:text="#{popup.borrado.mensaje}"></i></p>
		</div>
		
		<script th:inline="text">
    
          function borrarRegistro() {
        	  $("#[[${vc.getNombreObjeto() + '_borrar_btn'}]]").trigger('click');
          }

          $(":input").keyup(function() {
        		$("#botonElegir").remove();
          })
        	          
        </script>
	</div>
</body>
</html>
