<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" th:include="main :: page">
<head>
<title>Cliente</title>
</head>
<body>

	<div th:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-4">
					<div th:include="abm/cliente/form :: content(vc=${controlador})">form</div>
				</div>
				<div class="col-lg-8">
					<div th:include="fragments/lista_ancestro::content(name='cliente', serverSide='true', source=@{/abm/cliente/rest}, editUrl=@{/abm/cliente/}, vc=${controlador}, title=#{cliente.tabla.titulo})">lista</div>
				</div>
			</div>

		</div>
	</div>
</body>

</html>