<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Camion</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="shortcut icon" href="../../../images/favicon.ico"
	type="image/x-icon" />

<link href="../../../css/bootstrap.min.css" rel="stylesheet" />
<link href="../../../css/sb-admin-2.css" rel="stylesheet" />
<link href="../../../css/jquery-ui.css" rel="stylesheet" />
<link href="../../../font-awesome-4.2.0/css/font-awesome.min.css"
	rel="stylesheet" />
<link href="../../../css/htroot.css" />
<script src="../../../js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../../../js/bootstrap.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="../../../js/sb-admin-2.js"></script>
<script src="../../../js/jquery-ui.js"></script>

</head>

<body>
	<div class="col-lg-12 col-lm-12">
		<div th:fragment="content">

			<h4 class="page-header" th:text="#{camion.form.titulo}">Camion</h4>
			<div th:replace="fragments/notificaciones :: content">notificiones</div>

			<form action="#" 
				th:action="@{'/abm/camion/op'+ '?' + ${_csrf.parameterName} + '=' + ${_csrf.token} + '&amp;recordId=' +${camion.id}}"
				th:object="${camion}" method="post" role="form"
				enctype="multipart/form-data"
				onsubmit="return checkSize('foto',2048576);">

				<div th:replace="fragments/form_errores :: content">errores</div>

				<div class="row">
					<div class="col-lg-6 col-md-6" th:if="${camion.id != null}">
						<img id="camionpic" th:src="@{/abm/camion/foto/} + ${camion.id}"
							style="max-height: 150px; max-width: 100%" />
					</div>
					<div class="col-lg-6 col-md-6" th:if="${camion.id == null}">
						<img id="camionpic" th:src="@{/images/nopic.png}"
							style="max-height: 150px; max-width: 100%" />
					</div>
					<div class="form-group">
						<input type="file" th:field="*{tmpFoto}"
							class="filestyle" data-input="false"
							th:attr="data-buttonText=#{camion.cambiar_foto.lbl}, size-error=#{camion.foto.size}" />
					</div>
				</div>
				
				<input type="hidden" th:field="*{id}" />

				<div class="form-group required">
					<label for="chapa" th:text="#{camion.chapa.lbl}"
						class="field-label">Codigo:</label> <input type="text"
						th:field="*{chapa}" class="form-control" autofocus="autofocus" maxlength="20" />
				</div>

				<div class="form-group required">
					<label for="marca" th:text="#{camion.marca.lbl}"
						class="field-label">Nombre:</label> <input type="text"
						th:field="*{marca}" class="form-control" maxlength="50"/>
				</div>
				
				<div class="form-group required">
					<label for="modelo" th:text="#{camion.modelo.lbl}"
						class="field-label">Modelo:</label> <input type="text"
						th:field="*{modelo}" class="form-control" maxlength="50"/>
				</div>
				
				<div class="form-group required">
					<label for="anio" th:text="#{camion.anio.lbl}"
						class="field-label">anio:</label> <input type="number"
						th:field="*{anio}" class="form-control" maxlength="4"/>
				</div>
				
				<div th:unless="${seguro == null}" class="form-group required">
					<label for="seguro" th:text="#{camion.seguro.lbl}"
						class="field-label">Seguro:</label> <input type="text"
						th:value="${seguro.poliza}" class="form-control" disabled="disabled"/>
				</div>
				
				<div class="form-group required">
					<label for="consumoPorKm" th:text="#{camion.consumo_por_km.lbl}" 
					class="field-label">Consumo:</label> 
					<div th:remove="tag"
								th:include="fragments/includes :: format_number_input(inputId='consumoPorKm', 
							inputVal=${camion.consumoPorKm})">Consumo</div>
				</div>
				
				<div class="form-group required">
					<label for="mantenimientoAnual" th:text="#{camion.mantenimiento_anual.lbl}" 
					class="field-label">Mantenimiento:</label> 
					<div th:remove="tag"
								th:include="fragments/includes :: format_number_input(inputId='mantenimientoAnual', 
							inputVal=${camion.mantenimientoAnual})">Mantenimiento</div>
				</div>
				
				<div class="form-group required">
					<label for="depreciacionAnual" th:text="#{camion.depreciacion_anual.lbl}" 
					class="field-label">depreciacionAnual:</label> 
					<div th:remove="tag"
								th:include="fragments/includes :: format_number_input(inputId='depreciacionAnual', 
							inputVal=${camion.depreciacionAnual})">Depreciacion</div>
				</div>
				
				<div class="form-group required">
					<label for="combustible" th:text="#{camion.combustible.lbl}"
						class="field-label">Combustible:</label> <select class="form-control"
						th:field="*{combustible}">
						<option th:each="combustible : ${combustibleList}"
							th:value="${combustible.id}" th:text="${combustible.nombre}">
							Super 95
						</option>
					</select>
				</div>
				
				<div class="form-group required" th:if="${camion.chofer != null}">
					<label for="chofer" th:text="#{camion.chofer.lbl}"
						class="field-label">Chofer:</label> 
						<input type="text"
						id="chofer" disabled="disabled" class="form-control"
						th:value="${camion.chofer.cedula+' - '+camion.chofer.usuario.nombre+' '+camion.chofer.usuario.apellido}"
						/>
				</div>
				
				<div th:replace="abm/formulario_botones :: content">botones</div>
				
				<script type="text/javascript">
				//#foto es el input
				$("#tmpFoto").change(function(){
					previsualizar(this, '#camionpic');
				});
			</script>
			</form>
		</div>
	</div>
</body>
</html>